.create-lobby-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.7);
  z-index: 99;
  animation: fadeIn 300ms;

  &.animation-fade-out { animation: fadeOut 300ms forwards; }

  > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #313338;
    padding: 16px;
    border-radius: 8px;
    color: white;
    animation: zoomIn 300ms;

    &.animation-zoom-out { animation: zoomOut 300ms forwards !important; }

    > div.title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;

      > div {
        height: 24px;
        width: 24px;
      }

      > h2 {
        text-align: center;
      }

      > button {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;

        > img {  transition-duration: 200ms; }
        &:hover > img { filter: invert(50%) brightness(2); }
      }
    }

    > input {
      height: 32px;
      width: 100%;
      background-color: #1e1f22;
      text-align: center;
      border: none;
      border-radius: 16px;

      &:focus {
        outline: none;
      }
    }

    > div.lobby-privacy {
      display: flex;
      justify-content: center;
      overflow: hidden;

      > input {
        display: none;

        &:checked+label {
          background-color: rgb(75, 0, 75);

          > span {
            text-decoration: underline;
          }
        }
      }

      > label {
        width: 100%;
        display: block;
        background-color: purple;
        text-align: center;
        padding: 6px 12px;
        cursor: pointer;
        transition-duration: 200ms;

        &:first-of-type { border-radius: 16px 0 0 16px; }
        &:last-of-type { border-radius: 0 16px 16px 0; }
      }
    }

    > button {
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes zoomIn {
  from { transform: scale(0.2); }
  to { transform: scale(1); }
}

@keyframes zoomOut {
  from { transform: scale(1); }
  to { transform: scale(0.2); }
}