main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  > div.home {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > section.play-section {
      height: max(calc(100vh - 64px), 480px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  
      > div.play-section-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        > div.name {
          width: 100%;

          > div {
            width: calc(100%);
            border-radius: 12px;
            box-shadow: 0 0 16px rgba(black, 0.2);

            > input[type=text] {
              height: 40px;
              width: calc(100% - 16px);
              background-color: rgba(black, 0.5);
              backdrop-filter: blur(16px) brightness(1.1);
              border: 1px rgba(white, 0.3) solid;
              border-radius: 8px;
              padding: 0 8px;

              &:focus { outline: none; }
            }
          }
        }

        > div.play {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;

          @media (max-width: 720px) {
            flex-direction: column;
          }
    
          > div {
            height: 256px;
            width: 192px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            font-size: 20px;
            font-weight: 700;
            box-shadow: 0 0 16px rgba(black, 0.5);
            cursor: pointer;
            transition-duration: 200ms;
          
            &:hover { scale: 1.1; }
            &:active { scale: 0.95; }
          }
      
          > .create-lobby { background-color: rgba(255, 56, 56); }
      
          > .join-lobby {
            display: flex;
            flex-direction: column;
            gap: 8px;
            background-color: rgb(40, 40, 255);
      
            > div > input {
              height: 32px;
              width: 24px;
              border: none;
              border-radius: 8px;
              text-align: center;
    
              &:focus {
                outline: none;
              }
            }
      
            > button {
              padding: 8px;
              background-color: #121212;
              border: none;
              border-radius: 8px;
              cursor: pointer;
            }
          }
        }
      }

      > div.play-section-bottom {
        padding: 12px 0;
  
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          cursor: pointer;
        }
      }
    }

    > section.description-section {
      height: max(calc(100vh - 32px), 960px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      gap: 32px;
      background: linear-gradient(0, #00051d, #001369, #2e3e8f);
      padding: 16px;
      box-shadow: 0 0 20px 10px rgba(46, 62, 144, 0.5);

      @media (max-width: 720px) {
        height: max(calc(100vh - 32px), 1280px);
      }

      > div, footer {
        width: min(100%, 960px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        > h1 {
          font-family: "Climate Crisis";
          font-size: 40px;
          font-weight: normal;
          text-transform: uppercase;
        }
      }

      > div.how-to-play {
        > div {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 16px;

          > div.slideshow {
            height: 360px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            > button {
              height: 40px;
              width: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #111214;
              border: 1px #18191b solid;
              border-radius: 8px;
              cursor: pointer;
              transition-duration: 200ms;

              &:hover {
                background-color: #232528;
                border-color: #292b2e;
              }

              &:active {
                background-color: #2e2f34;
                border-color: #35363b;
              }

              > img { height: 20px; }
            }

            > div {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              animation-name: slideDown;
              animation-duration: 500ms;

              > img {
                height: 280px;
              }

              > h2 {
                font-size: 20px;
                font-weight: 900;
              }
            }
          }

          > div.slideshow-navigation {
            display: flex;
            gap: 8px;

            > div {
              height: 16px;
              width: 16px;
              background-color: #606d99;
              border-radius: 50%;
              cursor: pointer;
              transition-duration: 200ms;

              &.active {
                background-color: #b0b4c3;
              }
            }
          }
        }
      }

      > div.faq {
        > div {
          > p {
            margin-bottom: 16px;
          }
        }
      }

      > footer {
        > button {
          background-color: transparent;
          background: linear-gradient(105deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
          color: white;
          background-size: 1800%;
          font-size: 32px;
          font-weight: 900;
          font-family: "Montserrat";
          text-decoration: none;
          border: none;
          border-radius: 8px;
          padding: 12px 16px;
          text-shadow: 3px 3px rgba(black, 0.75);
          box-shadow: 0 0 24px rgba(white, 0.5);
          backdrop-filter: brightness(3);
          cursor: pointer;
          animation: rainbow 30s ease infinite;
        }

        > ul {
          display: flex;
          gap: 12px;
          list-style-type: none;

          @media (max-width: 720px) {
            flex-direction: column;
            align-items: center;
          }

          > li {
            display: flex;

            > a {
              background-color: transparent;
              color: white;
              font-size: 24px;
              font-weight: 700;
              font-family: "Montserrat";
              text-decoration: none;
              border-radius: 8px;
              padding: 8px 12px;
              cursor: pointer;

              &.github {
                background: #006d32;
                box-shadow: 0 0 16px rgba(greenyellow, 0.5) inset;
              }

              &.discord {
                background-image: url(../../assets/images/discord-bg.png);
                background-size: cover;
              }

              &.email {
                background-color: darkorange;
                box-shadow: 0 0 16px yellow inset;
              }

              &.about {
                background-color: crimson;
                box-shadow: 0 0 16px #200000 inset;
              }
            }
          }
        }
      }
    }
  }

  > div.game {
    height: calc(100vh - 64px);
    display: flex;

    transition-duration: 400ms;

    > div.rules.active { width: 400px; }
    > div.rules.active ~ div.main { width: calc(100% - 800px); }
    > div.rules.active ~ div.main > div.top-bar > span.player-wait { display: none; }
    > div.rules.active ~ div.main > div.top-bar > span.close-rules { display: block; }
    > div { transition: width 500ms; }

    > div.rules {
      width: 0;
      display: flex;
      flex-direction: column;
      background-color: #313338;
      box-shadow: 0 0 16px rgba(black, 0.1) inset;
      z-index: 1;
      overflow: hidden scroll;

      > div.heading {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px #26282c solid;
      }

      > div.rules-main {
        height: calc(100% - 50px);
        display: flex;

        > fieldset {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          border: none;
          padding: 16px;

          > div:last-of-type { padding-bottom: 16px; }

          > div.divider {
            height: 2px;
            background-color: #3f4147;
            border: 1px;
          }

          > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            > div {
              display: flex;
              flex-direction: column;
              gap: 12px;

              &.row {
                flex-direction: row;
                align-items: center;

                > div.label { width: 100%; }
                > div.field { width: auto; }
              }
  
              > div.label {
                color: #b5bac1;
                font-size: 14px;
                font-weight: 900;
                text-transform: uppercase;
              }
  
              > div.field {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 4px;

                &.column {
                  flex-direction: column;
                  align-items: normal;
                  gap: 8px;
                }

                &.categories {
                  display: flex;
                  flex-direction: column;
                  align-items: normal;
                  gap: 12px;

                  > div.selected, div.suggestions {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 4px;

                    &:hover > span {
                      padding: 2px 24px 4px 8px;

                      &::after {
                        position: absolute;
                        right: 0;
                        padding-right: 6px;
                      }
                    }

                    &.selected {
                      &:hover > span::after {
                        position: absolute;
                        right: 0;
                        content: '✕';
                        color: red;
                        font-size: 16px;
                        font-weight: 900;
                        padding-right: 6px;
                      }

                      > span { background-color: #23a55a; }
                    }

                    &.suggestions {
                      &:hover > span::after {
                        position: absolute;
                        right: 0;
                        content: '+';
                        font-size: 24px;
                        font-weight: 300;
                        padding-right: 6px;
                      }

                      > span { background-color: #3f6ff2; }
                    }

                    > span {
                      position: relative;
                      display: flex;
                      align-items: center;
                      font-size: 20px;
                      border-radius: 16px;
                      padding: 2px 8px 4px 8px;
                      cursor: pointer;
                      transition-duration: 200ms;
                    }
                  }

                  > div.own-categories {
      
                    > div.text-field {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      gap: 8px;

                      > input[type=text] {
                        width: 100%;
                        background-color: #1e1f22;
                        border: none;
                        border-radius: 4px;
                        padding: 12px;

                        &:focus { outline: none; }
                      }

                      > button {
                        height: 32px;
                        min-width: 32px;
                        position: relative;
                        background-color: transparent;
                        border: none;
                        padding: 4px;
                        cursor: pointer;
                        transition-duration: 200ms;

                        > div {
                          height: 24px;
                          width: 24px;
                          background-color: #949ba4;
                          mask-image: url('../../assets/images/icons/add.svg');
                          transition-duration: 200ms;
                        }

                        &.add:hover > div { background-color: white; }
                      }
                    }
                  }
                }

                > div.value {
                  display: flex;
                  gap: 4px;
                  padding: 0 4px;

                  &.minutes::after {
                    display: flex;
                    content: 'min';
                  }
                }
  
                .toggle-switch {
                  position: relative;
                  display: inline-block;
                  width: 40px;
                  height: 24px;
  
                  > input[type=checkbox] {
                    display: none;

                    &:disabled + span.slider {
                      background-color: #494c52;
                      cursor: no-drop;

                      &::before { background-color: #6f7174; }
                      > img { filter: brightness(0.57); }
                    }
  
                    &:checked + span.slider {
                      background-color: #23a55a;
      
                      &:before,
                      > img {
                        transform: translateX(16px);
                      }
  
                      > img.unchecked { opacity: 0; }
                      > img.checked { opacity: 1; }
                    }
                  }
  
                  > span.slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #80848e;
                    transition: .4s;
                    border-radius: 12px;
  
                    &::before {
                      position: absolute;
                      content: "";
                      height: 18px;
                      width: 18px;
                      left: 3px;
                      bottom: 3px;
                      background-color: white;
                      -webkit-transition: .4s;
                      transition: .4s;
                      border-radius: 50%;
                    }
  
                    > img {
                      position: absolute;
                      transition: 400ms;

                      &::selection {
                        background-color: transparent;
                      }
  
                      &.unchecked {
                        opacity: 1;
                        transition: 400ms;
                      }
  
                      &.checked {
                        opacity: 0;
                        transition: 400ms;
                      }
                    }
                  }
                }
  
                > input[type=range] {
                  height: 6px;
                  width: 100%;
                  background: #4e5058;
                  border-radius: 15px;
                  outline: none;
                  appearance: none; 
                  -webkit-appearance: none;
                  cursor: pointer;
  
                  &::-webkit-slider-thumb {
                    height: 24px;
                    width: 10px;
                    background-color: white;
                    border-radius: 3px;
                    appearance: none; 
                    -webkit-appearance: none;
                  }
                }

                > form.radio {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  gap: 8px;

                  > label {
                    width: calc(100% -  16px);
                    display: flex;
                    gap: 8px;
                    background-color: #2b2d31;
                    color: #b5bac1;
                    border-radius: 8px;
                    padding: 8px;
                    cursor: pointer;
                    transition-duration: 200ms;

                    &:hover {
                      background-color: #393c41;
                      color: white;
                    }

                    &.red { border-left: 4px #f23f43 solid; }
                    &.yellow { border-left: 4px #bf861c solid; }
                    &.green { border-left: 4px #23a55a solid; }
                    &.blue { border-left: 4px #3f6ff2 solid; }

                    > input[type="radio"] {
                      height: 18px;
                      width: 18px;
                      display: grid;
                      place-content: center;
                      border: 2px white solid ;
                      border-radius: 50%;
                      appearance: none;
                      -webkit-appearance: none;

                      &::before {
                        height: 8px;
                        width: 8px;
                        content: "";
                        background-color: white;
                        border-radius: 50%;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                      }

                      &:checked::before { transform: scale(1); }
                    }
                  }
                }

                > div.team {
                  display: flex;
                  gap: 8px;

                  > div.text-field {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    > input[type=text] {
                      background-color: #1e1f22;
                      border: none;
                      border-radius: 4px 4px 0 0;
                      padding: 12px;

                      &:focus { outline: none; }
                    }

                    > div.team-players {
                      display: flex;
                      gap: 4px;
                      background-color: #2b2d31;
                      border-radius: 0 0 4px 4px;
                      padding: 4px;

                      > div {
                        background-color: #232428;
                        color: gray;
                        text-decoration: underline;
                        border-radius: 16px;
                        padding: 2px 8px 6px;
                      }
                    }
                  }

                  > div.buttons {
                    width: 32px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    > button {
                      height: 32px;
                      position: relative;
                      background-color: transparent;
                      color: #949ba4;
                      border: none;
                      padding: 4px;
                      cursor: pointer;
                      transition-duration: 200ms;

                      > div {
                        height: 24px;
                        width: 24px;
                        background-color: #949ba4;
                        transition-duration: 200ms;
                      }

                      &.trash > div { mask-image: url('../../assets/images/icons/trash.svg'); }
                      &.trash:hover > div { background-color: #a12829; }
                      &.add > div { mask-image: url('../../assets/images/icons/add.svg'); }
                      &.add:hover > div { background-color: white; }
                    }
                  }
                }

                > button {
                  width: 100%;
                  border: none;
                  border-radius: 4px;
                  padding: 12px 8px;
                  transition-duration: 200ms;
                  cursor: pointer;

                  &.blue {
                    background-color: #5865f2;

                    &:hover { background-color: #4752c4; }
                    &:active { background-color: #3c45a5; }
                    &:disabled { background-color: #444c95; }
                  }
                  
                  &.gray {
                    background-color: #232428;
                    color: #949ba4;

                    &:hover { background-color: #111214; }
                    &:disabled { background-color: #0e0e0f; }
                  }
                }
              }
            }
          }
        }
      }
    }

    > div.main {
      width: calc(100% - 400px);

      > div.top-bar {
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        backdrop-filter: brightness(1.5);
        padding: 12px;

        > span.close-rules {
          display: none;
        }

        > div {
          display: flex;
          gap: 8px;
        }
      }
    }

    > div.sidebar {
      width: 400px;
      background-color: #313338;
      box-shadow: 0 0 16px rgba(black, 0.1) inset;
      z-index: 1;

      > div:not(div.tabs) {
        display: none;

        &.active {
          display: flex;
        }
      }

      > div.tabs {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-bottom: 2px #26282c solid;

        > button {
          background-color: transparent;
          font-size: 16px;
          border: none;
          border-radius: 4px;
          padding: 2px 8px;
          cursor: pointer;
          transition-duration: 200ms;

          &:hover, &.active:hover { background-color: #4e50584d; }
          &:active, &.active:active { background-color: #4e50587a; }
          &.active { background-color: #4e505899; }
        }
      }

      > div.chat {
        height: calc(100% - 50px);
        flex-direction: column;

        > div.chat-log {
          height: calc(100% - 44px);
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 4px 12px;

          > div {
            display: flex;
            align-items: center;

            > span.time {
              color: gray;
              font-size: 12px;
              margin-right: 8px;
            }

            > span.badge {
              border-radius: 4px;
              padding: 0 2px 6px;
              margin-right: 8px;
              cursor: help;

              &.lobby-leader {background-color: rgba(goldenrod, 0.3);}
            }

            > span.name {
              font-weight: 700;
            }

            > span.game-message.join { color: cyan; }
          }
        }

        > div.input {
          height: 44px;
          display: flex;
          background-color: #383a40;
          border-radius: 8px 8px 0 0;

          > textarea {
            height: 20px;
            width: calc(100% - 52px);
            background-color: transparent;
            font-size: 1rem;
            border: none;
            padding: 12px;
            resize: none;

            &:focus {
              outline: none;
            }
          }

          > button {
            height: 100%;
            width: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }

      > div.lobby {
        height: calc(100% - 50px);
        flex-direction: column;

        > div.player-search {
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;

          > input[type=text] {
            height: 32px;
            width: calc(100% - 32px);
            background-color: #1e1f22;
            border: none;
            border-radius: 4px;
            padding: 0 8px;
          }
        }

        > div.players {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding: 0 8px;

          > div {
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            border-radius: 4px;
            padding: 0 8px;
            cursor: pointer;
            transition-duration: 200ms;

            &:hover { background-color: #2d2f33; }

            > div.main {
              display: flex;
              gap: 8px;

              > img {
                height: 36px;
                border-radius: 18px;
              }

              > div {
                display: flex;
                flex-direction: column;

                > span.nickname {
                  font-weight: 700;
                }
  
                > span.auth-name {
                  font-size: 14px;
                  color: gray;
                }
              }
            }

            > div.badges {
              > div {
                border-radius: 4px;
                padding: 0 2px 6px;
                cursor: help;
  
                &.lobby-leader {background-color: rgba(goldenrod, 0.3);}
              }
            }
          }
        }
      }
    }
  }

  > div.about {
    animation-name: slideDown;
    animation-duration: 500ms;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20%);
  } 
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rainbow { 
  0% { background-position: 0% 82%; }
  50% { background-position: 100% 19%; }
  100% { background-position: 0% 82%; }
}